__pycache__/
*.py[cod]
*.db
*.sqlite3
.env
uploads/
/models
data/*
!data/sample/
!data/sample/sample_rag.txt
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.streamlit/secrets.toml
logs/
.idea/
*.tsbuildinfo

/docs
rerankers
temp/
/test/output