__pycache__/
*.py[cod]
*.db
*.sqlite3
.env
uploads/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.streamlit/secrets.toml
logs/
.idea/
*.tsbuildinfo

# custom
data/**
!data/datasets/
!data/datasets/**
!data/knowledges/
!data/knowledges/**
!data/ml/
!data/ml/**

models/**
!models/system/
!models/system/.gitkeep
rerankers/**
!rerankers/
!rerankers/.gitkeep
temp/**

